{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/index2.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>BASHKIR STATE UNIVERSITY</h1>
              <span class="subheading">BSU</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>University</h1>
          
          <p> Bashkir State University is one of the oldest universities of the Republic of Bashkortostan, as well as the largest educational, scientific and cultural center with a rapidly developing infrastructure and world-class laboratories, such as the Center for Molecular Medicine, the Skoltech Center, the Laboratory for Reproductive Biology and Plant Cloning, the Laboratory for Safety Assessment of Modern Materials and Technologies, Laboratory of Polymer Composite Materials, Center for Micro-and Nano-Scale Dynamics of Dispersed Systems m, laboratory of geophysical control over the development of hard-to-recover oil reserves, computer lab.</p>

          
          <h1 style="color:rgba(9, 255, 21, 0.979);">Education</h1>
          
          <p>Over the 100 years of its existence Bashkir State University has proved its right to be called one of the best Russian universities. Rich historical past, modern extensive research, active development and innovation enable the university to be at the forefront of education and science. Over the years of its work Bashkir State University has trained more than 115,000 professionals.</p>
          
          <p>Currently over 10,000 students from 17 Russian regions and 8 countries are studying at the University. 1736 scientific and educational staff, including 288 Doctors and 891 Candidates of Sciences, carry out academic, scientific and educational work here. 42 Doctors of Sciences have been elected acting members and corresponding members of scientific academies. More than 60 Professors at the University have been given titles of Honored Science Workers of the Republic of Bashkortostan and the Russian Federation.</p>

          <p>Over the last few years Bashkir State University has become a large center for postgraduate studies. Today the University provides for successful operating of postgraduate courses in 56 scientific majors and doctoral courses in 8 scientific majors. 541 postgraduate and doctoral students study here, which accounts for one third of postgraduate and doctoral students of Bashkortostan.
          </p>

          <p>BashSU also runs 14 further professional education programs.</p>


          <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 33.33%;
              padding: 5px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            </head>
            <body>
                                
            <div class="row">
              <div class="column">
                <img src="{{ url_for('static', filename='img/university/bsu2.jpg') }}" alt="Snow" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/university/bsu3.jpg') }}" alt="Forest" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/university/bsu1.jpg') }}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <iframe width="230" height="200" src="https://www.youtube.com/embed/twg0-Kj0xmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
              <div class="column">
                <iframe width="230" height="200" src="https://www.youtube.com/embed/rjlRN8Hl0VE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
            </div>

            <h1 style="color:blue;">Library</h1>
          
          <p>Its origin may be traced back to 1909, when a library was established under Teacher Training Institute in Ufa. In 1920 Teacher Training Institute was transformed into Practical Institute of Public Education, on the basis of which Bashkir State Pedagogical Institute was founded in 1929. Already in 1930s the Bashkir Pedagogical Institute library was one of the largest university libraries in the Republic with the holdings of 135,000 units.</p>
          
          <h3 style="color:rgb(241, 74, 166);">At present the Library incorporates:</h3>

          <ul type="a">
              <li>reading halls, including an Electronic Information Access Hall;</li>
              <li>4 lending libraries;</li>
              <li>Department of Document Integration;</li>
              <li>Department of Scientific and Technical Processing of Documents;</li>
              <li>Interlibrary loan;</li>
              <li>Service Department;</li>
              <li>Reference Department;</li>
              <li>Book Storage Department;</li>
              <li>Department of Rare and Handwritten Books;</li>
              <li>Automation Department;</li>
              <li>Methodological Department.</li>
            </Ul>

          <p>The Library holdings contain scientific, academic and fiction literature related to every area of the University's activities. Currently the Library holdings amount to 1.0 mln volumes; the Library employs 15 people.

              In 1995 the Library started to introduce new information technologies in its work. The site provides an organizing force for the electronic library.</p>

          <h5 style="color:rgb(255, 222, 32);">At present:</h5>

          <ul type="a">
              <li>processes of stocktaking, scientific processing of documents and lending books have been automated;</li>
              <li>the volume of the electronic catalogue amounts to 592,568 records;</li>
              <li>a network of remote-mode services is being developed;</li>
              <li>readers are given opportunities to use Russian and international information resources;</li>
              <li>an Electronic Reading Hall has been launched, which is a full-text electronic library of academic and scientific materials available for users of both local BashSu network and home computers in the remote mode.</li>
          </Ul>

          <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 33.33%;
              padding: 5px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            </head>
            <body>
                                
            <div class="row">
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/01.jpg') }}" alt="Snow" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/02.jpg') }}" alt="Forest" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/03.jpg') }}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/04.jpg') }}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/05.jpg') }}" alt="Mountains" style="width:100%">
              </div>
              <div class="column">
                <img src="{{ url_for('static', filename='img/Library/06.jpg') }}" alt="Mountains" style="width:100%">
              </div>
            </div>
          
        </div>
      </div>
    </div>

   {% endblock %}